body {
	background:#fff;
}

.header {
	color:#fff;
	background:#000;
	font-family:Monaco, Courier, monospace;
	padding-left:5px;
}

p {
	color:#000;
	background:none;
	font-family:Monaco, Courier, monospace;
	padding-left:5px;
}

a {
	color:blue;
	background:none;
	font-family:Monaco, Courier, monospace;
	padding-left:5px;
}