body {
	background:#fff;
}

#container {
	position:absolute;
	width:800px;
	height:auto;
	top:0;
	left:50%;
	margin-left:-400px;
	-moz-box-shadow: 0px 0px 10px #222;
    -webkit-box-shadow: 0px 0px 10px #222;
    box-shadow: 0px 0px 10px #222
}

.header {
	position:fixed;
	width:760px;
	color:#fff;
	background:#000;
	font-family:Monaco, Courier, monospace;
	padding:2px 0px 2px 40px;
	z-index:2;
}

p {
	color:#000;
	background:none;
	font-family:Monaco, Courier, monospace;
	padding:0 50px 0 50px;
}

.block a {
	color:blue;
	background:none;
	font-family:Monaco, Courier, monospace;
	text-decoration:none;
}

.block a:hover {
	text-decoration:underline;
}

.images {
	margin:-50px 0 0 0;
}