body {
	background:#fff;
}

#container {
	position:absolute;
	width:800px;
	height:auto;
	top:0;
	left:50%;
	margin-left:-400px;
	-moz-box-shadow: 0px 0px 10px #222;
    -webkit-box-shadow: 0px 0px 10px #222;
    box-shadow: 0px 0px 10px #222
}

.header {
	position:fixed;
	width:760px;
	height:42px;
	color:#fff;
	background:#000;
	background-color:rgba(0,0,0,0.4);
	font-family:Monaco, Courier, monospace;
	padding:4px 0px 4px 40px;
	z-index:2;
}

.menu {
	position:absolute;
	width:800px;
	height:auto;
	top:100px;
	left:102%;
	color:#fff;
	background:none;
	font-family:Monaco, Courier, monospace;
	margin:0;
	padding:0;
	z-index:1;
}

.menu ul {
	margin:0;
	padding:0;
}

.menu ul li{
	width:auto;
	content:"";
	display:block;
	font-size:13px;
	font-weight:300;
	color:#0b0;
	list-style-type:none;
	margin:5px 0 0 0;
	padding:1px 0 1px 5px;
}

.menu ul li a:hover{
	text-decoration:none;
	color:#0e0;
}

.menu ul li:hover{
	color:#0e0;
	text-decoration:none;
}

.menu ul li:hover:after{
	content:" :";
	color:#0e0;
}

#blog_link:hover:after{
	content:" coming soon...";
	color:#333;
}

#snap_link:hover:after{
	content:" processing wip image gallery";
	color:#333;
}

#twtt_link:hover:after{
	content:" @doctorcrowd";
	color:#333;
}

#gith_link:hover:after{
	content:" github repositories";
	color:#333;
}

#mail_link:hover:after{
	content:" doctorcrowd@gmail.com";
	color:#333;
}

/* .menu ul li:after{
	content:" -";
}

.menu ul li:last-child:after{
	content:"";
} */

p {
	color:#000;
	background:none;
	font-family:Monaco, Courier, monospace;
	padding:0 50px 0 50px;
}

.block a {
	color:#0b0;
	background:none;
	font-family:Monaco, Courier, monospace;
	text-decoration:none;
}

.block a:hover {
	text-decoration:underline;
}

.images {
	margin:-10px 0 0 0;
}

.footer {
	border-top:solid 1px #000;
	background:#222;
	height:80px;
}

.footer p {
	font-family:Monaco, Courier, monospace;
	font-size:13px;
	color:#666;
	padding:3px 50px 14px 50px;
}