html, body, div, span, 
h1, h2, h3, h4, h5, h6, p, 
a, img,  ol, ul, li
{margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

html {height:100%;}

body {line-height: 1;height:100%;overflow-y:scroll;}

ol, ul {list-style: none;}

:focus {outline: 0;}

a {text-decoration:none;}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#webfontfvFLBU0N') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {color:#000;background:#D0C3B5;font-family:BebasNeueRegular;}

.tumblr-link {
	position:absolute;
	right:10px;
	top:70px;
}

.tumblr-link a {
	color:black;
}

.tumblr-link a:hover {
	color:#f05000
}

#wrap {
	position:relative;
	width: 1002px; margin: 0 auto;
	min-height: 100%;
    height: auto !important;
    height: 100%;
} 

#gallery {
	height:330px;
}

h1 {font-size:60px;margin-left:8px;margin-right:9px;margin-bottom:20px;padding-top:30px;text-shadow:0 1px 0 #E2DAD1;font-weight: normal;border-bottom: 1px dotted #000;}

h1 a {color:#000;}

h2 {font-family:'Merriweather',serif;font-weight:400;font-size:16px;margin-top:0;margin-left:10px;margin-bottom:20px;color:#222;font-weight: normal;padding-top:10px;}

h2 a {color:#222;-webkit-transition:color .4s;-moz-transition:color .4s;-o-transition:color .4s;-ms-transition:color .4s;transition:color .4s;}

h2 a:hover {color:#f05000;}

#menu_contact {padding-left:330px;}

.active {color:#f05000;}

.subtitles {font-size:24px;margin-left:10px;font-family:'Merriweather',serif;font-weight:400;}

li {float:left; position:relative; display:inline-block; width:300px; height:300px;margin:10px; padding:7px; background:#fff; -webkit-box-shadow:0 0 5px rgba(0,0,0,.35);
	-moz-boz-shadow: 0 0 5px rgba(0,0,0,.35);box-shadow:0 0 5px rgba(0,0,0,.35);}

li div {font-family:Monaco;position:absolute;height:0; width:280px;background:rgba(0,0,0,.35);overflow:hidden;bottom:10px;left:10px; padding: 0 10px;-webkit-transition:height 1s;-moz-transition:height 1s;-o-transition:height 1s;-ms-transition:height 1s; transition:height 1s;color:#fff;line-height:50px;font-size:0.8em;}

li:hover div {height:45px;}

canvas {opacity:1; position:absolute; top:10px; left:10px;-webkit-transition:opacity 1s .2s;-moz-transition:opacity 1s .2s;-o-transition:opacity 1s .2s;-ms-transition:opacity 1s .2s;transition:opacity 1s .2s;}

li:hover canvas {opacity:0;}

#box_03:hover canvas {opacity:1;}

p {clear:left; float:right; margin-top:10px;margin-right:20px;}

p a {color:#909090;-webkit-transition:color .4s;-moz-transition:color .4s;-o-transition:color .4s;-ms-transition:color .4s;transition:color .4s;text-decoration:underline;}

p a:hover {color:#f05000;}

#box_01 {background:none;overflow:hidden;-webkit-transition:height 1s;-moz-transition:height 1s;-o-transition:height 1s;-ms-transition:height 1s; transition:height 1s;color:#fff;line-height:50px;font-size:0.8em; width:300px; height:300px;margin:10px; padding:10px;}
#box_01 a, #box_02 a, #box_03 a {color:#fff;font-size:12px;}

#disclaimer {
	font-family: 'Merriweather';
	font-size:16px;
	line-height:30px;
	clear:both;
	display:block-inline;
	padding-left:10px;
	height:100px;
	background:none;
	width:100%;
	bottom:0;
}

#disclaimer a {
	margin-top:20px;
	text-align:left;
	left:0;
	margin-left:0;
	color:#000;
	font-weight:700;
	-webkit-transition:color .3s;-moz-transition:color .3s;-o-transition:color .3s;-ms-transition:color .3s;transition:color .3s;
}

#disclaimer a:hover {
	color:#f05000;
}

.boldtext {
	font-weight:700;
}

.project_description {
	font-family: 'Merriweather';
	font-size:16px;
	line-height:30px;
	clear:both;
	display:block-inline;
	padding-left:10px;
	height:100px;
	background:none;
	width:100%;
	bottom:0;
}

.project_description a {
	margin-top:20px;
	text-align:left;
	left:0;
	margin-left:0;
	color:#f00000;
}

#threed_tag, #twod_tag, #fourd_tag, #backtag, #comingsoon {
	opacity:0;
	position:absolute;
	color:#fff;
	background:rgba(0,0,0,1);
	padding:5px;
	width:50px;
	height:14px;
	z-index:2;
	text-align:center;
	font-weight:normal;
	font-style: normal;
	font-size:15px;
}

#backtag a {
	color:#fff;-webkit-transition:color .4s;-moz-transition:color .4s;-o-transition:color .4s;-ms-transition:color .4s;transition:color .4s;
}

#backtag a:hover {
	color:#f06000;
}

#threed_tag {
	top:138px;
	margin-left:700px;
}

#twod_tag {
	top:341px;
	margin-left:900px;
}

#fourd_tag {
	top:544px;
}

#threed_tag:after, #twod_tag:after, #fourd_tag:after, #backtag:after {
	content:"";
	position:absolute;
	bottom:-10px;
	left:7px;
	border-color: transparent #000;
	border-style: solid;
	border-width:0 10px 10px 0;
	height:0;
	width:0;
	z-index:-1;
}

/*   --------------POST-IT
#threed_tag, #twod_tag, #fourd_tag {

	font-size:12px;
	font-family:Monaco;
	position:fixed;
	color:#fff;background:#ccc;
	left:180px;
	padding:25px 10px 0 10px;
	width:105px;
	height:95px;
}

#threed_tag {
	top:200px;
}

#twod_tag {
	top:400px;
}

#fourd_tag {
	top:600px;
}

#threed_tag:after, #twod_tag:after, #fourd_tag:after {
	content:"";
	position:absolute;
	top:0;
	right:0;
	border-width:0 16px 16px 0;
	border-style:solid;
	border-color:#aaa #fff;
}
*/

#back_button {
	color:#000;
	font-weight:700;
	-webkit-transition:color .4s;-moz-transition:color .4s;-o-transition:color .4s;-ms-transition:color .4s;transition:color .4s;
}

#back_button:hover {
	color:#f05000;
}

#footer {
	position:fixed;
	bottom:0;
	z-index:2;
	width: 1013px; margin: 0 auto;
	height:75px;
	border-top:dotted 1px #ccc;
	background-color:#D0C3B5;
    line-height:20px;
    margin-left:4px;   
}

#footer div{
	position:absolute;
	width:1020px;
	left:50%;
	margin-left:-510px;
	margin-top:10px;
}

#footer p {
	position:absolute;
	color:#999;
	left:0;
	margin-left:10px;
}

.contact {
	font-family:Courier;
	font-size:12px;
}

#footer a {
	margin:0;
	color:#909090;
}

#footer a:hover {color:#f05000;}

#footer img {
	position:absolute;
	margin:14px 29px 10px 10px;right:0;
	opacity:0.3;
}

/* CONTACT PAGE */

div.contact-text a:hover {
	text-decoration:underline;
}

div.contact-text #email-link {
	color:#C00000;
}

div.contact-text #twitter-link {
	color:#4099FF;
}

div.contact-text #tumblr-link {
	color:#fff;
	background:#456179;
	padding:  2px 3px 1px 3px;
}

/* ABOUT PAGE */

.heroes {
	
	max-width:1050px;
}

.heroes h1 {
	font-family:'Merriweather';
	font-size:24px;
	border:none;
}

.heroes span {
	font-size:1em;	
}

.heroes ul li {
	width:296px;
	height:auto;
	border-top: 1px solid #000;
	border-bottom: 1px dashed #000;
	background:none;
	box-shadow:none;
	font-family:'Merriweather';
}

.heroes ul li a {
	color:#fff;
}

.heroes ul li a:hover {
	color:#f05000;
}
